<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Manager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="/static/js/dynamic.js"></script>
    <!-- CSS commun -->
    <link rel="stylesheet" href="/static/css/common.css">
    
    <!-- CSS mode clair (par défaut) -->
    <link rel="stylesheet" href="/static/css/light-main.css" media="(prefers-color-scheme: light)">
    
    <!-- CSS mode sombre -->
    <link rel="stylesheet" href="/static/css/dark-main.css" media="(prefers-color-scheme: dark)">
</head>

<body>
    {{ template "navbar" . }}
    {{ template "content" . }}
    {{ template "footer" . }}
</body>

</html>