<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Manager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <script src="https://unpkg.com/htmx.org"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Manage Ory Hydra Clients</h1>
            <div class="box">

                <!-- Dropdown list of clients -->
                <div class="field">
                    <label class="label">Existing clients</label>
                    <div class="control">
                        <div hx-get="/api/clients" hx-trigger="load" hx-target="#client-select" hx-swap="innerHTML" class="select is-fullwidth">
                            <select id="client-select"
                            class="select"
                            hx-trigger="change"
                            hx-target="#client-details"
                            hx-swap="innerHTML"
                            onchange="updateHxGet(this)">
                                <option value="">Select a client</option>
                                <!-- Options loaded dynamically by HTMX -->
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Informations on selected client -->
            <div id="client-details" class="box" style="display: none;">
            </div>
        </div>
    </section>

    <script>
        function updateHxGet(selectElement) {
            const selectedValue = selectElement.value;
            if (selectedValue) {
                selectElement.setAttribute('hx-get', `/api/client/${selectedValue}`);
                console.log(selectedValue);
                htmx.ajax('GET', `/api/client/${selectedValue}`, {
                    target: '#client-details',
                    swap: 'innerHTML'
                });
                document.getElementById('client-details').style.display = 'block';
            } else {
                selectElement.removeAttribute('hx-get');
            }
        }
    </script>
</body>

</html>